@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 25% 10%;

    --card: 0 0% 98%;
    --card-foreground: 222 25% 10%;

    --popover: 0 0% 98%;
    --popover-foreground: 222 25% 10%;

    --primary: 144 73% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 92%;
    --secondary-foreground: 222 25% 15%;

    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 45%;

    --accent: 160 60% 35%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 45%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 85%;
    --input: 0 0% 94%;
    --ring: 144 73% 40%;

    --chart-1: 220 70% 40%;
    --chart-2: 160 60% 35%;
    --chart-3: 30 80% 45%;
    --chart-4: 280 65% 50%;
    --chart-5: 340 75% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 221 39% 11%;
    --foreground: 0 0% 98%;

    /* 220 20% 16%; */
    --card: 222 35% 13%;
    --card-foreground: 0 0% 98%;

    /* 220 20% 16%; */
    --popover: 215 28% 17%;
    --popover-foreground: 0 0% 98%;

    --primary: 144 73% 55%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 217 19% 27%;
    --muted-foreground: 218 11% 65%;

    --accent: 160 60% 45%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    /* --border: 0 0% 14.9%; */
    --border: 218 24% 21%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* background of the scrollbar */
::-webkit-scrollbar-track {
  background: hsl(221 39% 11%);
  border-radius: 10px;
}

/* draggable part (thumb) */
::-webkit-scrollbar-thumb {
  background: hsl(144 73% 55%);
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: hsl(160 60% 45%);
}

/* hide scrollbar */
.no_scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
